@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
:root {
  ---background-primary-color: #f19c78;
  ---background-secondary-color: #edd8d0;
  ---background-third-color: #f7e4dd;
  ---background-fourth-color: #fff3f3;
  ---font-color: rgb(73, 73, 73);
  ---fontsize--h: 1.5rem;
  ---fontsize--nav: 1rem;
  ---font-family: "Poppins", sans-serif;
  ---border-radius: 3%;
  ---border-shadow: -10px 9px 29px -9px rgba(74, 74, 74, 0.87);
}

/* ******************************L' EQUIPE***************************** */
body {
  background-color: var(---background-third-color);

  font-family: "Libre Baskerville";
  color: var(---font-color);
}

header {
  /** Si on veut faire un bg image et le centrer*/
  height: 23rem;
  background-image: url("../../assets/images/photo8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 80%;
  opacity: 80%;
  display: flex;
}

section p:first-child {
  text-align: center;
  color: var(---font-color);
  margin: 3rem 0 0rem 0;
  line-height: 2;
  font-size: var(---fontsize--h);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(---font-color);
  margin: 2rem 0;
}
.card {
  border-radius: var(---border-radius);
  box-shadow: var(---border-shadow);
  background-color: var(---background-secondary-color);
  display: flex;
  flex-direction: column;
  width: 30vh;
  height: 50vh;
  margin: 1rem;
}

.card-img {
  border-top-left-radius: var(---border-radius);
  border-top-right-radius: var(---border-radius);
  background-image: url("photos/anthony.jpeg");
  background-size: cover;
  background-position: center;
  width: 30vh;
  height: 30vh;
}

.card-body {
  font-size: 0.8rem;
  text-align: center;
}

.card-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f19c78;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.card-job {
  font-size: 0.6rem;
  font-style: italic;
  background-color: var(---background-primary-color);
  padding-bottom: 0.5rem;
}
.card-text {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

@media screen and (min-width: 480px) {
  section p:first-child {
    margin: 5rem 0 0rem 0;
    font-size: clamp(2rem, 3vw, 3rem);
  }
  .card {
    width: 40vh;
    height: 60vh;
    margin: 3rem;
  }
  .card-img {
    width: 40vh;
    height: 40vh;
  }

  .card-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f19c78;
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }

  .card-job {
    font-size: 0.6rem;
    font-style: italic;
    background-color: var(---background-primary-color);
    padding-bottom: 0.5rem;
  }
  .card-text {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
  }
}
