
/* *******************************************Oscar***********************************************\ */

section{
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.class_section2 img{
    box-shadow: var(---border-shadow);
    border-radius: var(---border-radius);
    width: 95vw;
    height: 15rem;
    object-fit: cover;
    margin: 3rem 0 1rem 0;
}
.histoire_text{
    text-align: center;
}
.description{
    text-align: center;
}
.class_avis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    


}
.class_avis h1{
    text-align: center;
    padding: 0 1rem;
}

.avis p{
    text-align: center;
}

.class_avis div{
    background-color: var(---background-second-color);
    box-shadow: var(---border-shadow);
    border-radius: var(---border-radius);
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 30rem;
    
}

.class_avis div img{
    width: 5rem;
    margin-top: 0.8rem;
}

.class_avis .avis_cache{
    display: none;
}

