/* ******************************L' EQUIPE***************************** */

:root {
  ---background-first-color: #d6968a;
  ---background-second-color: #ddb2a0;
  ---background-third-color: #e1c3b9;
  ---background-fourth-color: #e2cfcec7;

  ---font-color-light: #f8eaea;
  ---font-color-dark: #111111;

  ---fontsize--h1: clamp(2rem, 5vw, 4rem);
  ---fontsize--nav: clamp(1rem, 2.3vw, 1.5rem);
  ---fontsize--h2: 1.5rem;
  ---font-family: "Libre Baskerville", sans-serif;

  ---fontsize--h3: clamp(2rem, 3vh, 5rem);

  ---fontsize--footer: 0.6rem;

  ---border-radius: 3%;
  ---border-shadow: -10px 9px 29px -9px rgba(74, 74, 74, 0.87);
}

section p:first-child {
  text-align: center;
  color: var(---font-color);
  margin: 3rem 0 0rem 0;

  line-height: 2;
  font-size: var(---fontsize--h2);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(---font-color-dark);
  margin: 2rem 0;
}
.card {
  border-radius: var(---border-radius);
  box-shadow: var(---border-shadow);
  background-color: #e2cfcec7;

  display: flex;
  flex-direction: column;
  width: 30vh;
  height: 50vh;
  margin: 1rem;
}

.card-img {
  background-image: url("../images/anthony.jpeg");
  border-top-left-radius: var(---border-radius);
  border-top-right-radius: var(---border-radius);
  background-size: cover;
  background-position: center;
  width: 30vh;
  height: 30vh;
}

.card-body {
  font-size: 0.8rem;
  text-align: center;
}

.card-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(---background-second-color);
  font-size: 1rem;
  padding-top: 0.5rem;
}

.card-job {
  font-size: 0.6rem;
  font-style: italic;
  background-color: var(---background-second-color);
  padding-bottom: 0.5rem;
}
.card-text {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

/* ****************   MEDIASCREEN   **************** */

@media screen and (min-width: 480px) {
  section p:first-child {
    margin: 5rem 0 0 0;
    font-size: var(---fontsize--h3);
  }
  .cards .card {
    width: 40vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .cards .card:hover {
    height: 45vh;
  }

  .card-img {
    max-width: 40vh;
    height: 30vh;
    border-radius: var(---border-radius);

    position: relative;
    top: -5vh;
    left: 5vh;

    z-index: 1;
  }

  /* ******************** Css  ajouté pour l'animation des cartes ******************* */

  .cards {
    margin: 5rem 0;
    position: relative;
    gap: 10vh;
    padding: 10px;
  }

  .card-title,
  .card-job,
  .card-text {
    background-color: transparent;
    font-size: 1rem;
  }

  .cards .card .card-body {
    text-align: center;
    position: relative;
    background-color: none;
    visibility: hidden;
    top: -70px;
    padding: 0.5em;

    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .cards .card:hover .card-body {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }
}
